<nav class="clearfix">
    <div class="idl-logo">
        <a href="//idrop.link">idrop.link</a>
    </div>
</nav>

<div class="drop-wrap">
    <div class="drop">
        <img class="drop-img" alt="broken" src="{{img}}">
        <div class="drop-title">{{title}}</title>
    </div>
</div>
