        {{>navbar}}

        <div class="row head-spacing">
            &nbsp;
        </div>

        <div class="row content-wrap">
            <h1>Something <strong>really good</strong> is coming soon.</h1>
            <p>We are creating a self hosted open source drop service to share your screenshots and other files with your friends without trusting strangers with your data with just a simple drag and drop.</p>
        </div>

