{{>navbar}}

<div class="row head-spacing">
    &nbsp;
</div>

<div class="row content-wrap">
    <h1>Something <strong>great</strong> is coming!</h1>

    <p>We are creating a drop service to easily share screenshots and other files with your friends and colleagues.
        Self-Hosted and Open-Source! Don't trust strangers with your data anymore
        &mdash; share it privately with a simple drag and drop!</p>
</div>

