{{>navbar}}

<div class="form-wrap">

    <h1>Welcome back!</h1>

    <form class="form signin-form" method="POST">
        <div class="errors">
        </div>

        <p>
            <label for="email">Email:</label>
            <input type="text" placeholder="Email" name="email">
        </p>

        <p>
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" name="password">
        </p>

        <button class="button signin-button">Sign in</button>
    </form>
</div>
