{{>navbar}}

<div class="form-wrap">

    <h1>Sign up now for free!</h1>

    <form class="form">
        <p>
            <label for="email">Email:</label>
            <input type="text" placeholder="Email" name="email">
        </p>

        <p>
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" name="password">
        </p>

        <button class="button">Signup for free</button>
    </form>
</div>
