<h1>Welcome aboard!</h1>

{{#if toast}}
    <p class="toast">
        {{toast}}
    </p>
{{/if}}

<div class="">
    <a href="/download">
        <button class="download-button">Download</button>
    </a>
</div>
