<nav>
    <div class="navbar">
        <div class="idl-nav-wrapper">
            <ul class="navbar-nav">
                <li {{#is_eq site "launch"}} class="active"{{/is_eq}}>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/doc">Documentation</a>
                </li>
                <li class="highlighted">
                    <a href="/welcome">Download</a>
            </ul>
        </div>
    </div>
</nav>
