<nav>
    <div class="navbar">
        <div class="idl-nav-wrapper">
            <ul class="navbar-nav">
                <li {{#is_eq site "launch"}} class="active"{{/is_eq}}>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/doc">Documentation</a>
                </li>
                {{#if userId}}
                <li class="highlighted">
                    <a href="/u/{{ userId }}">Profile</a>
                </li>

                <li class="highlighted">
                    <a href="/signout">Log out</a>
                </li>
                {{else}}
                <li class="highlighted">
                    <a href="/signin">Sign in</a>
                </li>
                {{/if}}
                <!--
                <li class="highlighted">
                    <a href="/welcome">Download</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
